table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
}

// .blink {
//     animation: blinker 0.6s linear infinite;
//     color: #1c87c9;
//     font-size: 30px;
//     font-weight: bold;
//     font-family: sans-serif;
// }

// @keyframes blinker {
//     50% {
//         opacity: 0;
//     }
// }

::ng-deep .mat-tab-labels {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #00b4d8;
    // color: white;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white;
    background-color: #05505c;
}

::ng-deep .mat-tab-label {
    opacity: 1 !important;
}

.tables {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-container {
    background-color: #00b4d8;

    // .mat-expansion-panel {
    //     background-color: transparent;
    // }

    // .mat-list-base .mat-list-item,
    // .mat-list-base .mat-list-option {
    //     height: 38px;
    //     color: #95cde9;
    //     font-size: 15px;
    //     border-radius: 25px;
    // }

    // .mat-expansion-panel-header.mat-expanded {
    //     height: 48px;
    // }

    // .sub-menu-icon {
    //     width: 12px;
    //     height: 12px;
    //     font-size: 12px;
    // }

    // .sub-menu-active-icon-bg {
    //     background: #004a76;
    //     border-radius: 5px;
    //     color: #ff7f00;
    // }

    // .active-icon-color {
    //     color: #ff7f00;
    // }

    .active-label-color {
        color: #ffffff;
    }

    .active-link {
        background-color: #05505c;
    }
}

.sidenav-main-container {
    height: 100%;
}

.mat-drawer {
    position: fixed;
}

.mat-drawer-side {
    /* border-right: solid 1px rgba(0,0,0,.12); */
    border-right: #00b4d8 1px solid;
}