<mat-sidenav-container class="sidenav-main-container">
    <mat-sidenav mode="side" opened class="sidenav-container">
        <div class="text-center my-3">
            <!-- <a routerLink="dashboard"> -->
            <img src="assets/Images/unilogo.png" alt="App logo" style="width:80px;background-color: #00b4d8;">
            <!-- </a> -->
        </div>
        <mat-nav-list>
            <ng-container *ngFor="let menuItem of menuOptions;let i=index">
                <mat-list-item [routerLink]="menuItem.routerLink"
                    [ngClass]="{'active-link': applyActiveLinkBasedOnRoute(menuItem)}">
                    <div mat-line class="pl-3"
                        [ngClass]="{'active-label-color': applyActiveLinkBasedOnRoute(menuItem)}">
                        {{menuItem.title}}</div>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Summary">
                <div class="mt-5 tables">
                    <table style="width: 80%">
                        <tr>
                            <th rowspan="2">SAP Material Index</th>
                            <th rowspan="2">SAP Materials</th>
                            <th rowspan="2">Q1 Material Index</th>
                            <th rowspan="2">Q1 Materials</th>
                            <th rowspan="2">Material Type</th>
                            <th colspan="3">Matched Types</th>
                            <th colspan="3">SAP Fields</th>
                            <th colspan="4">Q1 Fields</th>
                            <th rowspan="2">Action By Factory</th>

                        </tr>
                        <tr>
                            <th>Partial Match</th>
                            <th>Exact Match</th>
                            <th>Primary Match</th>
                            <th>TRUE/FALSE</th>
                            <th>Upper Limit</th>
                            <th>Lower Limit</th>
                            <th>ctq_v</th>
                            <th>USL_v</th>
                            <th>LSL_v</th>
                            <th>test_method_c</th>
                        </tr>
                        <!-- <tr>
                                    <td>14</td>
                                    <td>11132262</td>
                                    <td>394</td>
                                    <td>11132262_C_3577_C</td>
                                    <td>
                                        <= C10</td>
                                    <td>NO</td>
                                    <td>YES</td>
                                    <td>NO</td>
                                    <td>TRUE</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>TRUE</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td></td>
                                    <td style="background-color:rgb(122, 226, 122)">No action</td>
                        
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>11132262</td>
                                    <td>395</td>
                                    <td>11132262_C_3577_C</td>
                                    <td>
                                        <= C14</td>
                                    <td>NO</td>
                                    <td>YES</td>
                                    <td>NO</td>
                                    <td>TRUE</td>
                                    <td>1.5</td>
                                    <td>0</td>
                                    <td>TRUE</td>
                                    <td>1.5</td>
                                    <td>0</td>
                                    <td></td>
                                    <td style="background-color:rgb(122, 226, 122)">No action</td>
                        
                                </tr> -->
                        <tr *ngFor="let item of data">
                            <td>{{item.sapIndex}}</td>
                            <td>{{item.sap}}</td>
                            <td>{{item.q1index}}</td>
                            <td>{{item.Q1}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.partial}}</td>
                            <td>{{item.exact}}</td>
                            <td>{{item.primary}}</td>
                            <td>{{item.saptruefalse}}</td>
                            <td>{{item.upper}}</td>
                            <td>{{item.lower}}</td>
                            <td>{{item.ctq}}</td>
                            <td>{{item.usl}}</td>
                            <td>{{item.lsl}}</td>
                            <td>{{item.test_method}}</td>
                            <td
                                [ngStyle]="{'background-color': (item.partial=='YES')? 'yellow' : 'rgb(122, 226, 122)' }">
                                {{item.partial=='YES'?'Correction':'No action'}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Partial Matches">
                <div class="tables mt-5">
                    <table style="width:50%">
                        <tr>
                            <th>
                                Primary Key
                            </th>
                            <th>Count</th>
                            <th>Overall Count</th>
                        </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>

            </mat-tab>
            <mat-tab label="Exact Matches">
                <div class="tables mt-5">
                    <table style="width:50%">
                        <tr>
                            <th>
                                Primary Key
                            </th>
                            <th>Count</th>
                            <th>Overall Count</th>
                        </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Statistics">
                <div class="tables mt-5">
                    <table style="width:50%">
                        <tr>
                            <th>
                                Category
                            </th>
                            <th>Number of records</th>

                        </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="No Matches">
                <div class="tables mt-5">
                    <table style="width:50%">
                        <tr>
                            <th>
                                Primary Key
                            </th>
                            <th>Count</th>
                            <th>Overall Count</th>
                        </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>