table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
}

// .blink {
//     animation: blinker 0.6s linear infinite;
//     color: #1c87c9;
//     font-size: 30px;
//     font-weight: bold;
//     font-family: sans-serif;
// }

// @keyframes blinker {
//     50% {
//         opacity: 0;
//     }
// }

::ng-deep .mat-tab-labels {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #00b4d8;
    // color: white;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white;
    background-color: #05505c;
}

::ng-deep .mat-tab-label {
    opacity: 1 !important;
}

.tables {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-container {
    background-color: #00b4d8;



    .active-label-color {
        color: #ffffff;
    }

    .active-link {
        background-color: #05505c;
    }
}

.sidenav-main-container {
    height: 100%;
}

.mat-drawer {
    position: fixed;
}

.mat-drawer-side {
    /* border-right: solid 1px rgba(0,0,0,.12); */
    border-right: #00b4d8 1px solid;
}


::ng-deep .mat-drawer-container {
    background-color: transparent;
}