.loginBg {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.logoImg {
    width: 293px;
    height: 140px;
}

.text-head {
    color: #0097A7;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-card {
    width: 500px;
    border: 1px solid #0077b6;
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
    margin-top: 10vh;
}

.loginCardView {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    align-items: center;
}

.loginBtn {
    width: 100px;
    height: 45px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #00b4d8;
    color: white;

}

.register {
    margin-left: 10px;
}

.error-message {
    font-size: 14px;
    color: red;
}

.resetPswd:hover {
    text-decoration: none;
}