<div class="loginBg">
    <mat-card class='login-card'>
        <img src="assets/Images/unilogo.png" class="logoImg">
        <!-- <h2 class='text-head'>Unilever</h2> -->
        <mat-card-content>
            <form (ngSubmit)=" loginHandler()" [formGroup]="loginForm">
                <div class="loginCardView">
                    <mat-label style="margin-right: 10px;">User Name:</mat-label>
                    <mat-form-field appearance="outline">

                        <input type="text" formControlName="username" matInput required autocomplete="off">
                        <mat-error>UserName is Required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-label style=" margin-right: 15px;">Password:</mat-label>
                    <mat-form-field appearance="outline">

                        <input type="password" formControlName="password" matInput required>
                        <mat-error>Password is Required</mat-error>
                    </mat-form-field>
                    <div *ngIf="isuservalid">
                        <span style="color:red">Please Enter valid Username or Password</span>
                    </div>
                    <div class="loginBtnDiv">
                        <button mat-raised-button type="submit" color="primary" class="loginBtn">Login</button>
                        <button mat-raised-button color="primary" (click)="home()">home</button>

                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>