.sidenav-container {
    background-color: #00b4d8;



    .active-label-color {
        color: #ffffff;
    }

    .active-link {
        background-color: #05505c;
    }
}

.sidenav-main-container {
    height: 100%;
}

.mat-drawer {
    position: fixed;
}

.mat-drawer-side {
    /* border-right: solid 1px rgba(0,0,0,.12); */
    border-right: #00b4d8 1px solid;
}