<mat-sidenav-container class="sidenav-main-container">
    <mat-sidenav mode="side" opened class="sidenav-container">
        <div class="text-center">
            <!-- <a routerLink="dashboard"> -->
            <img src="assets/Images/unilogo.png" alt="App logo"
                style="width:80px;background-color: #00b4d8;margin-top: 10px;">
            <!-- </a> -->
            <mat-icon class="example-tab-icon" (click)="logout()">logout</mat-icon>


        </div>
        <mat-nav-list>
            <ng-container *ngFor="let menuItem of menuOptions;let i=index">
                <mat-list-item [routerLink]="menuItem.routerLink"
                    [ngClass]="{'active-link': applyActiveLinkBasedOnRoute(menuItem)}">
                    <div mat-line class="pl-3"
                        [ngClass]="{'active-label-color': applyActiveLinkBasedOnRoute(menuItem)}">
                        {{menuItem.title}}</div>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>