.backdrop,
#myTextArea {
    font: 12px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    width: 300px;
    height: 100px;
}

#myTextArea {
    margin: 0;
    position: absolute;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
    caret-color: #555555;
    z-index: 2;
    resize: none;
}

.backdrop {
    position: absolute;
    z-index: 1;
    border: 2px solid transparent;
    overflow: auto;
    pointer-events: none;
}

.custom-area {
    white-space: pre-wrap;
    word-wrap: break-word;
}

::ng-deep .mat-tab-labels {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #17a2b8;
    // color: white;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white;
    background-color: #05505c;
}

::ng-deep .mat-tab-label {
    opacity: 1 !important;
}

.progress-loader {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}