<mat-tab-group animationDuration="0ms">

    <mat-tab label="Summary">
        <div style="display:flex;justify-content:space-between" class="mt-3 ml-2 mr-2">
            <button mat-raised-button color="primary" (click)="backto()">Back To Compare</button>
            <button mat-raised-button color="primary" (click)="download()">
                <mat-icon class="example-tab-icon">download</mat-icon>
                Download
            </button>
        </div>
        <div class="mt-3 tables">
            <table style="width: 95%" id="summary-table" #TABLE>
                <tr>
                    <th rowspan="2">SAP Material Index</th>
                    <th rowspan="2">SAP Materials</th>
                    <th rowspan="2">Q1 Material Index</th>
                    <th rowspan="2">Q1 Materials</th>
                    <th rowspan="2">Material Type</th>
                    <th colspan="3">Matched Types</th>
                    <th colspan="3">SAP Fields</th>
                    <th colspan="4">Q1 Fields</th>
                    <th rowspan="2">Action By Factory</th>

                </tr>
                <tr>
                    <th>Partial Match</th>
                    <th>Exact Match</th>
                    <th>Primary Match</th>
                    <th>TRUE/FALSE</th>
                    <th>Upper Limit</th>
                    <th>Lower Limit</th>
                    <th>ctq_v</th>
                    <th>USL_v</th>
                    <th>LSL_v</th>
                    <th>test_method_c</th>
                </tr>

                <tr *ngFor="let item of summarydata">
                    <td>{{item['index1']}}</td>
                    <td>{{item['Material']}}</td>
                    <td>{{item['index2']}}</td>
                    <td>{{item['inspection_plan__v.name__v']}}</td>
                    <td>{{item['Material Type']}}</td>
                    <td>{{item['Inspection Check']=='Partial Match'?item['Inspection Check']:'NO'}}</td>
                    <td>{{item['Inspection Check']=='Exact Match'?item['Inspection Check']:'NO'}}</td>
                    <td>{{item['Inspection Check']=='Just Primary Match'?item['Inspection Check']:'NO'}}</td>
                    <td>{{item['TRUE/FALSE']}}</td>
                    <td>{{item['Upper limit']}}</td>
                    <td>{{item['Lower limit']}}</td>
                    <td>{{item['ctq__v']}}</td>
                    <td>{{item['usl__v']}}</td>
                    <td>{{item['lsl__v']}}</td>
                    <!-- <td>{{item['test_method__c']}}</td> -->
                    <td>{{item['test_method__c'] !=='Null'?item['test_method__c']:''}}</td>
                    <td
                        [ngStyle]="{'background-color': (item['Inspection Check']=='Partial Match')? '#e3db02' : '#15ab3d' }">
                        {{item['Inspection Check']=='Partial Match'?'Correction':'No action'}}</td>
                </tr>
                <tr *ngIf="summarydata.length==0">
                    <td>No data Found</td>
                </tr>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="No Matches">
        <div style="display:flex;justify-content:space-between" class="mt-3 ml-2 mr-2">
            <button mat-raised-button color="primary" (click)="backto()">Back To Compare</button>
            <button mat-raised-button color="primary" (click)="download()">
                <mat-icon class="example-tab-icon">download</mat-icon>
                Download
            </button>
        </div>
        <div class="tables mt-3">
            <table style="width:50%" id="nomatches-table" #TABLE1>
                <tr>
                    <th>
                        Material
                    </th>
                    <th>Characteristic</th>
                    <th>Overall Count</th>
                </tr>
                <tr *ngFor="let item of nomatchesdata">
                    <td>
                        {{item['Material']}}
                    </td>
                    <td>
                        {{item['Characteristic']}}
                    </td>
                    <td>{{item['Overall Count'] !=='Null'?item['Overall Count']:''}}</td>
                </tr>
                <tr *ngIf="nomatchesdata.length==0">
                    <td colspan="3">No data Found</td>
                </tr>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Partial Matches">
        <div style="display:flex;justify-content:space-between" class="mt-3 ml-2 mr-2">
            <button mat-raised-button color="primary" (click)="backto()">Back To Compare</button>
            <button mat-raised-button color="primary" (click)="download()">
                <mat-icon class="example-tab-icon">download</mat-icon>
                Download
            </button>
        </div>
        <div class="tables mt-3">
            <table style="width:50%" id="partial-table" #TABLE2>
                <tr>
                    <th>
                        Primary Key
                    </th>
                    <th>Count</th>
                    <th>Overall Count</th>
                </tr>
                <tr *ngFor="let item of partialmatchesdata">
                    <td>
                        {{item['Primary Key'][0]}},{{item['Primary Key'][1]}}
                    </td>
                    <td>{{item['Count']}}</td>
                    <td>{{item['Overall Count'] !=='Null'?item['Overall Count']:''}}</td>
                </tr>
                <tr *ngIf="partialmatchesdata.length==0">
                    <td colspan="3">No data Found</td>
                </tr>
            </table>
        </div>

    </mat-tab>
    <mat-tab label="Exact Matches">
        <div style="display:flex;justify-content:space-between" class="mt-3 ml-2 mr-2">
            <button mat-raised-button color="primary" (click)="backto()">Back To Compare</button>
            <button mat-raised-button color="primary" (click)="download()">
                <mat-icon class="example-tab-icon">download</mat-icon>
                Download
            </button>
        </div>
        <div class="tables mt-3">
            <table style="width:50%" id="exact-table" #TABLE3>
                <tr>
                    <th>
                        Primary Key
                    </th>
                    <th>Count</th>
                    <th>Overall Count</th>
                </tr>
                <tr *ngFor="let item of exactmatchesdata">
                    <td>
                        {{item['Primary Key'][0]}},{{item['Primary Key'][1]}}
                    </td>
                    <td>{{item['Count']}}</td>
                    <td>{{item['Overall Count'] !=='Null'?item['Overall Count']:''}}</td>
                </tr>
                <tr *ngIf="exactmatchesdata.length==0">
                    <td colspan="3">No data Found</td>
                </tr>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Statistics">
        <div style="display:flex;justify-content:space-between" class="mt-3 ml-2 mr-2">
            <button mat-raised-button color="primary" (click)="backto()">Back To Compare</button>
            <button mat-raised-button color="primary" (click)="download()">
                <mat-icon class="example-tab-icon">download</mat-icon>
                Download
            </button>
        </div>
        <div class="tables mt-3">
            <table style="width:50%" id="stat-table" #TABLE4>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>Number of records</th>

                </tr>
                <tr *ngFor="let item of statisticsdata">

                    <td>{{item['Category']}}</td>
                    <td>{{item['Number of records']}}</td>
                </tr>
                <tr *ngIf="statisticsdata.length==0">
                    <td colspan="2">No data Found</td>
                </tr>
            </table>
        </div>
    </mat-tab>

</mat-tab-group>