<div class="container" align="center">

    <mat-card style="width: 500px;margin-top:15%" class="">
        <mat-card-content>
            <mat-label><b>Select Factory:</b></mat-label>

            <mat-form-field appearance="outline" class="ml-2" required>
                <mat-select [(ngModel)]="selectedFactory">
                    <mat-option *ngFor="let item of factories" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="mt-2 ml-3" style="display: flex;
            align-items: center;">

                <mat-label class="ml-2"><b>Choose SAP file:</b></mat-label>
                <input type="file" (change)="onSAPFileSelected($event)" class="ml-2">
            </div>
            <div class="mt-2 ml-3" style="display: flex;
            align-items: center;">

                <mat-label class="ml-2"><b>Choose Q1 file:</b></mat-label>
                <input type="file" (change)="onQ1FileSelected($event)" class="ml-3">
            </div>
            <div class="mt-3 " style="display: flex;
            align-items: center;
            justify-content: center;">
                <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>

            </div>

        </mat-card-content>
    </mat-card>
    <mat-card class="mt-4" style="width: 500px; ">
        <mat-card-content>
            <div style="display: flex;">
                <mat-label><b>Select an Option:</b></mat-label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption" required
                    (change)="optionSelection($event)">
                    <mat-radio-button value="list" class="ml-2">Material List</mat-radio-button>
                    <mat-radio-button value="selection" class="ml-2">Material Selection</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="selectedOption=='list'">
                <textarea [(ngModel)]="materialList" id="listOfMaterials" (change)="getmaterials()"
                    style="width:300px;height:100px"></textarea>
            </div>

            <div *ngIf="isSelected" style="color:red">Select Option is required</div>

            <div *ngIf="selectedOption=='selection'">
                <form class="example-form">
                    <mat-label>Select Materials</mat-label>
                    <mat-form-field appearance="outline" class="ml-2">

                        <mat-select multiple (selectionChange)="materialSelection($event)" [(ngModel)]="teamInitial"
                            name="Materials SAP">
                            <input type="text" placeholder="Search here..." aria-label="Number" matInput
                                [formControl]="myControl">
                            <mat-option *ngFor="let option of filteredOptions|async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </form>
            </div>
            <div *ngIf="selectedMaterials.length>0">
                <textarea style="width:300px;height:100px">{{selectedMaterials}}</textarea>
            </div>
            <div class="mt-3 " style="display: flex;
            align-items: center;
            justify-content: center;">
                <button mat-raised-button color="primary" (click)="sapTOq1()" type="reset">SAP2Q1</button>
            </div>
        </mat-card-content>
    </mat-card>


</div>
<div class="progress-loader" [hidden]="!isLoader">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>