<mat-toolbar style="display:flex;justify-content:center;background-color:#00b4d8;color:white">
    <span>Files Comparision</span>
</mat-toolbar>
<div class="container" align="center">

    <mat-card style="width: 900px;margin-top:5%;border:1px solid #0077b6" class="">
        <mat-card-content>
            <mat-label><b>Select Factory:</b></mat-label>

            <mat-form-field appearance="outline" class="ml-2" required>
                <mat-select [(ngModel)]="selectedFactory">
                    <mat-option *ngFor="let item of factories" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <div class="mt-2 ml-5" style="display: flex;
            align-items: center; justify-content: center;">

                <mat-label class="ml-4"><b>Choose SAP file:</b></mat-label>
                <input type="file" (change)="onSAPFileSelected($event)" class="ml-2"
                    [ngStyle]="{'color':(dataService.sapFile!=='')?'#00b4d8':''}">
            </div>
            <div class="mt-2 ml-5" style="display: flex;
            align-items: center; justify-content: center;">

                <mat-label class="ml-4"><b>Choose Q1 file:</b></mat-label>
                <input type="file" (change)="onQ1FileSelected($event)" class="ml-3"
                    [ngStyle]="{'color':(dataService.q1File!=='')?'#00b4d8':''}">
            </div>
            <div class="mt-3 " style="display: flex;
            align-items: center;
            justify-content: center;">
                <button mat-raised-button style="background-color:#00b4d8;color:white"
                    (click)="onUploadSAPQ1Files()">Upload</button>

            </div>

        </mat-card-content>
    </mat-card>

</div>
<div class="mt-4" align="center">
    <mat-card style="width: 900px;border:1px solid #0077b6 ">
        <mat-card-content>
            <div>
                <h3>SAP Columns Selection:</h3>
                <div class="row">
                    <div class="col-6">
                        <mat-label class="ml-4"><b>Material:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedMaterial" name="material">
                                <mat-option *ngFor="let item of dataService.sapColNames" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>EX:11132262</mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-label class=""><b>TRUE/FALSE:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedtruefalse" name="truefalse">
                                <mat-option *ngFor="let item of dataService.sapColNames" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>EX:true/false</mat-hint>

                        </mat-form-field>
                        <br>
                        <mat-label class="ml-2"><b>Lower limit:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedlowerlimit" name="lowerlimit">
                                <mat-option *ngFor="let item of dataService.sapColNames" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>EX:99</mat-hint>

                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-label class=""><b>Material Type:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedMaterialType" name="materialtype">
                                <mat-option *ngFor="let item of dataService.sapColNames" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>EX:ROH,HALB</mat-hint>

                        </mat-form-field>
                        <br>
                        <mat-label class="ml-3"><b>Upper limit:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedupperlimit" name="upperlimit">
                                <mat-option *ngFor="let item of dataService.sapColNames" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>EX:258</mat-hint>

                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button style="background-color:#00b4d8;color:white"
                    (click)="onColumnSubmit()">Submit</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="mt-4" align="center">
    <mat-card style="width: 900px;border:1px solid #0077b6 ">
        <mat-card-content>
            <div>
                <mat-label><b>Info Field:</b></mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select [(ngModel)]="selectedInfoField" name="info">
                        <mat-option *ngFor="let item of infofields" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="row ">

                <div class="col-6">
                    <h3>SAPFileMaterials:</h3>
                    <div style="display: flex;flex-wrap: wrap;margin:10px 45px;">
                        <mat-label style="margin:10px 10px"><b>Select an Option:</b></mat-label>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="sapselectedOption" required
                            (change)="sapoptionSelection($event)">
                            <mat-radio-button value="saplist" class="ml-2">SAP Material List</mat-radio-button>
                            <mat-radio-button value="sapselection" class="ml-2"> SAP Material Selection
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="sapselectedOption=='saplist'">
                        <textarea [(ngModel)]="sapmaterialList" id="listOfMaterials"
                            style="width:300px;height:100px"></textarea>
                    </div>

                    <div *ngIf="isSelected" style="color:red">Select Option is required</div>

                    <div *ngIf="sapselectedOption=='sapselection'">
                        <form class="example-form">
                            <mat-label>Select Materials</mat-label>
                            <mat-form-field appearance="outline" class="ml-2">

                                <mat-select multiple (selectionChange)="sapmaterialSelection($event)"
                                    [(ngModel)]="teamInitial" name="Materials SAP">
                                    <input type="text" placeholder="Search here..." aria-label="Number" matInput
                                        [formControl]="myControl">
                                    <mat-option *ngFor="let option of filteredOptions|async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                            <div *ngIf="dataService.sapmaterials.length==0&&q1materials.length==0">
                                <span style="color:red">Please upload SAP and Q1 files</span>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="selectedSAPMaterials.length>0&&sapselectedOption=='sapselection'">
                        <textarea style="width:300px;height:100px">{{selectedSAPMaterials}}</textarea>
                    </div>

                </div>
                <div class="col-6">
                    <h3>Q1FileMaterials:</h3>
                    <div style="display: flex;flex-wrap: wrap;margin:10px 45px;">
                        <mat-label style="margin:10px 10px"><b>Select an Option:</b></mat-label>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="q1selectedOption" required
                            (change)="q1optionSelection($event)">
                            <mat-radio-button value="q1list" class="ml-2">Q1 Material List</mat-radio-button>
                            <mat-radio-button value="q1selection" class="ml-2"> Q1 Material Selection</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="q1selectedOption=='q1list'">
                        <textarea [(ngModel)]="q1materialList" id="listOfMaterials"
                            style="width:300px;height:100px"></textarea>
                    </div>

                    <div *ngIf="isSelected" style="color:red">Select Option is required</div>

                    <div *ngIf="q1selectedOption=='q1selection'">
                        <form class="example-form">
                            <mat-label>Select Materials</mat-label>
                            <mat-form-field appearance="outline" class="ml-2">

                                <mat-select multiple (selectionChange)="q1materialSelection($event)"
                                    [(ngModel)]="teamInitial1" name="Materials SAP">
                                    <input type="text" placeholder="Search here..." aria-label="Number" matInput
                                        [formControl]="myControl">
                                    <mat-option *ngFor="let option of filteredOptions1|async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                            <div *ngIf="dataService.sapmaterials.length==0&&q1materials.length==0">
                                <span style="color:red">Please upload SAP and Q1 files</span>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="selectedQ1Materials.length>0&&q1selectedOption=='q1selection'">
                        <textarea style="width:300px;height:100px">{{selectedQ1Materials}}</textarea>
                    </div>


                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div class="mt-3 mb-2 " style="display: flex;
                align-items: center;
                justify-content: center;">
    <button mat-raised-button style="background-color:#00b4d8;color:white" (click)="compareSAPQ1()"
        type="reset">Compare</button>

</div>
<!-- <div *ngIf="isSuccess" style="display: flex;
align-items: center;
justify-content: center;">

    <a [href]="sanitize(pathname)">Open Comparison File</a>
</div> -->
<!-- <a
        href="ms-excel:ofe|u|file:///C:/Users/MadhuriJyostnaJijjar/Documents/jefforsoncity/jefferson_matchedfile4f3e8c87-3a66-11ed-be6c-00d861b8a66d.xlsx">Open
        Comparison File</a> -->

<div class="progress-loader" [hidden]="!isLoader">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>