h3 {
    color: #00b4d8;
    font-weight: 500;
    // text-decoration: underline;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #00b4d8;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #00b4d8;
}

.progress-loader {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.562);
}