<div>
    <div class="mt-4 ml-4">
        <mat-label>Select Factory:</mat-label>

        <mat-form-field appearance="outline" class="ml-2">
            <mat-select (selectionChange)="onFactorySelection($event)">
                <mat-option *ngFor="let item of factories" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="ml-4">
        <mat-label><b>Fill NA:</b></mat-label>
        <div class="row mt-2">
            <div class="col-6">
                <mat-card>
                    <mat-card-content>
                        <h2>SAP File</h2>
                        <div>
                            <mat-label>Column Name:</mat-label>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-select [(ngModel)]="sapColName">
                                    <mat-option *ngFor="let item of myColumns.sap" [value]="item"
                                        [disabled]="isDisable(item)">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-label class="ml-3">Fill With:</mat-label>
                            <mat-form-field appearance="outline" class="ml-2">
                                <input type="text" matInput [(ngModel)]="fillSAPVal">
                            </mat-form-field>
                            <button mat-raised-button (click)="addSapFillNA()" class="ml-2" color="primary">Add</button>
                        </div>
                        <div *ngIf="isSAPAddFillNA">
                            <div class="example-table-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Column Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- value Column -->
                                    <ng-container matColumnDef="fill">
                                        <th mat-header-cell *matHeaderCellDef> Filled Value </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fill}} </td>
                                    </ng-container>
                                    <!-- Delete Column -->
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <i class="material-icons " id="action-icons"
                                                (click)="deleteRowData(element)">delete</i>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6">
                <mat-card style="min-height:40%;overflow: auto;">
                    <mat-card-content>
                        <h2>Q1 File</h2>
                        <div>
                            <mat-label>Column Name:</mat-label>
                            <mat-form-field appearance="outline" class="ml-2">
                                <mat-select [(ngModel)]="q1ColName">
                                    <mat-option *ngFor="let item of myColumns.q1" [value]="item"
                                        [disabled]="isQ1Disable(item)">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- </div> -->
                            <!-- <div> -->
                            <mat-label class="ml-3">Fill With:</mat-label>
                            <mat-form-field appearance="outline" class="ml-2">
                                <input type="text" matInput [(ngModel)]="fillQ1Val">
                            </mat-form-field>
                            <button mat-raised-button (click)="addQ1FillNA()" class="ml-2" color="primary">Add</button>

                        </div>
                        <div *ngIf="isQ1AddFillNA">
                            <div class="example-table-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource1">

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="colname">
                                        <th mat-header-cell *matHeaderCellDef> Column Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>


                                    <!-- value Column -->
                                    <ng-container matColumnDef="fillval">
                                        <th mat-header-cell *matHeaderCellDef> Filled Value </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fill}} </td>
                                    </ng-container>
                                    <!-- Delete Column -->
                                    <ng-container matColumnDef="delAction">
                                        <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <i class="material-icons" (click)="deleteRowData1(element)"
                                                id="action-icons">delete</i>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                </table>

                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
    <div class="ml-4 mt-2">
        <mat-label><b>Matching Columns:</b></mat-label>
        <mat-card class="mt-2" style="min-height:20%;overflow: auto;">
            <mat-card-content>
                <!-- <div class="row">
                <div class="col-6"> -->
                <mat-label>SAP column Names</mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select [(ngModel)]="matchingSAPCol">
                        <mat-option *ngFor="let item of myColumns.sap" [value]="item"
                            [disabled]="isMatchSAPDisable(item)">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- <div class="col-6"> -->
                <mat-label class="ml-2">Q1 column Names</mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select [(ngModel)]="matchingQ1Col">
                        <mat-option *ngFor="let item of myColumns.q1" [value]="item"
                            [disabled]="isMatchQ1Disable(item)">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <button mat-raised-button (click)="addMatchingCols()" class="ml-2" color="primary">Add</button>

                <!-- </div> -->
                <!-- <div class="row"> -->
                <div class="example-table-container mat-elevation-z8" *ngIf="isAddMatchingCols">
                    <table mat-table [dataSource]="dataSource2">

                        <!-- Name Column -->
                        <ng-container matColumnDef="sapcolname">
                            <th mat-header-cell *matHeaderCellDef> SAP Column Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.sapColName}} </td>
                        </ng-container>


                        <!-- value Column -->
                        <ng-container matColumnDef="q1colname">
                            <th mat-header-cell *matHeaderCellDef> Q1 Column Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.q1ColName}} </td>
                        </ng-container>
                        <!-- Delete Column -->
                        <ng-container matColumnDef="delAction">
                            <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <i class="material-icons" (click)="deleteRowData2(element)" id="action-icons">delete</i>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>
                <!-- </div> -->
            </mat-card-content>
        </mat-card>
    </div>
    <div class="ml-4 mt-2">
        <mat-label><b>Column Values Mapping:</b></mat-label>
        <mat-card class="mt-2">
            <mat-card-content>
                <!-- <div class="row"> -->
                <!-- <div class="col-6"> -->
                <mat-label>SAP Column Names:</mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select (selectionChange)="onSAPColSelection($event)" [(ngModel)]="mappingSapColName">
                        <mat-option *ngFor="let item of sapCols" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <br> -->
                <mat-label class="ml-2">SAP Column Values:</mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select [(ngModel)]="mappingSapColVal">
                        <mat-option *ngFor="let item of sapColValues" [value]="item"
                            [disabled]="isMappingSAPDisable(item)">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <!-- <div class="col-6"> -->
                <mat-label class="ml-2"> Q1 Column Names:</mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select (selectionChange)="onFactorySelection($event)" [(ngModel)]="mappingQ1ColName">
                        <mat-option *ngFor="let item of q1Cols" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <br> -->
                <mat-label class="ml-2">Q1 Column Values:</mat-label>
                <mat-form-field appearance="outline" class="ml-2">
                    <mat-select [(ngModel)]="mappingQ1ColVal">
                        <mat-option *ngFor="let item of q1ColValues" [value]="item"
                            [disabled]="isMappingQ1Disable(item)">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- </div> -->
                <button mat-raised-button (click)="addColumnMappingValues()" class="ml-2" color="primary">Add</button>

                <!-- </div> -->
                <div class="example-table-container mat-elevation-z8" *ngIf="isAddMappingCols">
                    <table mat-table [dataSource]="dataSource3">

                        <!-- Name Column -->
                        <ng-container matColumnDef="sapcolname">
                            <th mat-header-cell *matHeaderCellDef> SAP Column Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.sapColName}} </td>
                        </ng-container>
                        <!-- value Column -->
                        <ng-container matColumnDef="sapcolvalue">
                            <th mat-header-cell *matHeaderCellDef> SAP Column Value </th>
                            <td mat-cell *matCellDef="let element"> {{element.sapColVal}} </td>
                        </ng-container>

                        <!-- name Column -->
                        <ng-container matColumnDef="q1colname">
                            <th mat-header-cell *matHeaderCellDef>Q1 Column Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.q1colname}} </td>
                        </ng-container>
                        <!-- value Column -->
                        <ng-container matColumnDef="q1colvalue">
                            <th mat-header-cell *matHeaderCellDef>Q1 Column value</th>
                            <td mat-cell *matCellDef="let element"> {{element.q1colvalue}} </td>
                        </ng-container>
                        <!-- Delete Column -->
                        <ng-container matColumnDef="delAction">
                            <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <i class="material-icons" (click)="deleteRowData3(element)" id="action-icons">delete</i>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="mt-3" align="center">
        <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>

    </div>
</div>